/* Configurações Globais (Zera as margens padrões que vêm no navegador) */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Estilo do Corpo (Body) */
body {
    background-color: #f4f7f6; /* Cor de fundo suave */
    color: #b21414; /* Cor do texto principal */
    transition: background-color 0.5s ease; /* Efeito suave quando o JS mudar a cor */
}

/* Estilo do Cabeçalho */
header {
    background-color: #266ab8; /* Cor azul moderna */
    color: white;
    text-align: center;
    padding: 40px 20px;
}

header h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

/* Container para centralizar o conteúdo no meio da tela */
.container {
    max-width: 800px;
    margin: 30px auto; /* Centraliza horizontalmente */
    padding: 0 20px;
}

/* Estilo dos Blocos de Conteúdo (Cards) */
.card {
    background-color: white;
    padding: 25px;
    border-radius: 8px; /* Bordas arredondadas */
    margin-bottom: 20px; /* Espaço entre um card e outro */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra leve */
}

.card h2 {
    color: #4A90E2;
    margin-bottom: 15px;
}

/* Estilo do Botão Interativo */
button {
    background-color: #cc4e2e; /* Cor verde */
    color: rgb(47, 44, 44);
    border: none;
    padding: 12px 24px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 15px;
    transition: background 0.3s;
}

/* Efeito quando passa o mouse por cima do botão (Hover) */
button:hover {
    background-color: #39413c; /* Verde mais escuro */
}

/* Estilo do Rodapé */
footer {
    text-align: center;
    padding: 20px;
    color: #777;
    font-size: 0.9rem;
    margin-top: 40px;
}